<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.temp.mapper.TempCategoryMapper">
    
    <resultMap type="TempCategory" id="TempCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="text1"    column="text1"    />
        <result property="text2"    column="text2"    />
        <result property="text3"    column="text3"    />
    </resultMap>

    <sql id="selectTempCategoryVo">
        select category_id, name, remark, text1, text2, text3 from temp_category
    </sql>

    <select id="selectTempCategoryList" parameterType="TempCategory" resultMap="TempCategoryResult">
        <include refid="selectTempCategoryVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="text1 != null  and text1 != ''"> and text1 = #{text1}</if>
            <if test="text2 != null  and text2 != ''"> and text2 = #{text2}</if>
            <if test="text3 != null  and text3 != ''"> and text3 = #{text3}</if>
        </where>
    </select>
    
    <select id="selectTempCategoryById" parameterType="Long" resultMap="TempCategoryResult">
        <include refid="selectTempCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertTempCategory" parameterType="TempCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into temp_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="remark != null">remark,</if>
            <if test="text1 != null">text1,</if>
            <if test="text2 != null">text2,</if>
            <if test="text3 != null">text3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="text1 != null">#{text1},</if>
            <if test="text2 != null">#{text2},</if>
            <if test="text3 != null">#{text3},</if>
         </trim>
    </insert>

    <update id="updateTempCategory" parameterType="TempCategory">
        update temp_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="text1 != null">text1 = #{text1},</if>
            <if test="text2 != null">text2 = #{text2},</if>
            <if test="text3 != null">text3 = #{text3},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteTempCategoryById" parameterType="Long">
        delete from temp_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteTempCategoryByIds" parameterType="String">
        delete from temp_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>